# ---------------------------------------------------------
# MEDIA SERVER CONFIGURATION
# ---------------------------------------------------------
# Your public IP address (for Janus and TURN)
PUBLIC_IP=
# Your domain (for TURN)
DOMAIN=localhost
# TURN shared secret (will be generated if left empty)
TURN_SHARED_SECRET=
# Janus Admin API secret (will be generated if left empty)
JANUS_ADMIN_SECRET=
